<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Project 3 Assessment</title>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li>|</li>
            <li><a href="/posts">ALL POSTS</a></li>
        </ul>
    </nav>